* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}
/*Added flex containers*/

header {
    padding: 10px 0 20px;
    background-color: rgb(59, 100, 138);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    display: inline-flex;
    padding: 20px 100px 20px 25px;
    background-color: rgb(101, 146, 214);
    color: white;
    margin-top: 15px;
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 15px 15px 0;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header nav {
    margin-top: auto;
    display: flex;
    padding: 10px 15px 0 15px;
}

header nav ul {
display: flex;
list-style: none;
font-size: 30px;
}

header nav ul li a {
    padding: 10px 15px;
    text-decoration: underline;
}



/*Adding a banner*/

.banner {
    background-image: url(./images/Ganon.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: auto;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.banner p {
    background-color: rgb(101, 146, 214);
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
}

/*Intro section for my About Me*/

.intro {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 80%;
}

.intro h2 {
font-size: 30px;
text-align:right;
}

.intro img{
    padding: 20px 20px 20px 20px;
    height: 300px;
}

.intro-headers {
    width: 20%;
    border-right:rgb(32, 32, 28) 5px solid;

}


/*Main section is the Work I've done so far*/

main{
    
    margin: 10px auto;
    display: flex;
}

main h2 {
    font-size: 30px;
    border-right: 5px solid black;
    padding: 15px 10px 15px;
    text-align: right;
}



