* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}
/*Added flex containers*/

header {
    padding: 10px 0 20px;
    background-color: rgb(59, 100, 138);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    display: inline-flex;
    padding: 20px 100px 20px 25px;
    background-color: rgb(101, 146, 214);
    color: white;
    margin-top: 15px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header nav {
    margin-top: auto;
    display: flex;
    padding: 10px 15px 0 15px;
}

header nav ul {
display: flex;
list-style: none;
font-size: 20px;
}

header nav ul li a {
    padding: 10px 15px;
    text-decoration: underline;
}

/*Adding a banner*/

.banner {
    background-image: url(./images/Ganon.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: auto;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.banner p {
    background-color: rgb(101, 146, 214);
    padding: 10px 20px;
    margin: 20px;
}

/*Intro section for my About Me*/

.intro {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 60%;
}

.intro h2 {
font-size: 30px;
padding: 15px 10px 15px;
border-right: 5px solid black;
text-align:right;
}

.intro img{
    padding: 20px 20px 20px 20px;
    height: 300px;
    width: auto;
}

.intro div {
    display:flex;
    align-items: center;
}

/*Main section is the Work I've done so far*/

main{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

main h2 {
    font-size: 30px;
    border-right: 5px solid black;
    padding: 15px 10px 15px;
    text-align: right;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
}

.work-item-horiseon, .work-item-screenpunk, .work-item-jacobrhys, .work-item-placeholder {
    width: 45%;
    margin: 10px;
    border: 12px solid rgb(103, 173, 238);
    padding: 20px 15px 20px 15px;
    min-height: 150px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
}



.work-item-runbuddy {
    width: 100%;
    margin: 10px;
    border: 12px solid rgb(103, 173, 238);
    padding: 20px 15px 20px 15px;
    min-height: 250px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
    background-image: url(./images/RunBuddy.png);
    background-size:cover;
    background-position: center;
}

.work-item-horiseon {
    background-image: url(./images/Horiseon.png);
    background-size:cover;
    background-position: center;
}

.work-item-screenpunk {
    background-image: url(./images/Screenpunk.png);
    background-size:contain;
    background-position: center;
}

.work-item-jacobrhys {
    background-image: url(./images/JacobRhysvsEvil.png);
    background-size:contain;
    background-position:center;
}

.work-item-placeholder {
    background-image: url(./images/placeholder.png);
    background-size:cover;
    background-position: center;
}

.work-container a {
    background-color: rgb(103, 173, 238);
    text-decoration: none;
    color: black;
    padding: 15px;
    opacity: 0.75;
}

.work-container span {
    font-size: 12px;
}

footer {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;

}

footer h3 {
    font-size: 30px;
    border-right: 5px solid black;
    padding: 15px 10px 15px;
}

footer ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;

    }

footer ul li a {
    text-decoration: underline;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color:rgb(32, 32, 28)
}